services:
  - docker:20-dind

stages:
  - test

build-test:
  image: docker:dind
  stage: test
  environment: test
  before_script:
    - until docker info; do sleep 1; done
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY/$CI_PROJECT_PATH
  script:
    - docker build --network host --pull -t $CI_REGISTRY/$CI_PROJECT_PATH/kanbanapi:latest -f ./deployment/Dockerfile .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/kanbanapi:latest

deploy-test:
  image: gitlab-registry.otec.de:5050/images/kubectl/kubectl
  stage: test
  environment: test
  variables:
    VERSION: "latest"
  script:
    - envsubst < deployment/values.template.yaml > deployment/values.yaml
    - helm upgrade --install kanbanapi deployment/
    - kubectl rollout restart deployment django
  needs: 
    - build-test

