services:
  - docker:dind

stages:
  - test
  - prod

build-test:
  image: docker:dind
  stage: test
  environment: test
  before_script:
    - until docker info; do sleep 1; done
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY/$CI_PROJECT_PATH
  script:
    - docker build --network host --pull -t $CI_REGISTRY/$CI_PROJECT_PATH/kanbanapi:latest -f ./deployment/Dockerfile .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/kanbanapi:latest

deploy-test:
  image: gitlab-registry.otec.de:5050/images/kubectl/kubectl
  stage: test
  environment: test
  variables:
    VERSION: "latest"
  script:
    - envsubst < deployment/values.template.yaml > deployment/values.yaml
    - helm upgrade --install kanbanapi deployment/
    - kubectl rollout restart deployment django
  needs: 
    - build-test

build-prod:
  image: docker:dind
  stage: prod
  environment: prod
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+/
      when: on_success
    - when: never
  before_script:
    - until docker info; do sleep 1; done
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY/$CI_PROJECT_PATH
  script:
    - docker build --network host --pull -t $CI_REGISTRY/$CI_PROJECT_PATH/kanbanapi:latest -f ./deployment/Dockerfile .
    - docker push $CI_REGISTRY/$CI_PROJECT_PATH/kanbanapi:latest

deploy-prod:
  image: gitlab-registry.otec.de:5050/images/kubectl/kubectl
  stage: prod
  environment: prod
  variables:
    VERSION: "latest"
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d+\.\d+\.\d+/
      when: on_success
    - when: never
  script:
    - envsubst < deployment/values.template.yaml > deployment/values.yaml
    - helm upgrade --install kanbanapi deployment/
    - kubectl rollout restart deployment django
  needs:
    - build-prod
