---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: nginx.conf
              readOnly: true
            - name: staticfiles
              mountPath: /var/www/html
      volumes:
        - name: nginx-conf
          configMap:
            name: nginx-conf
            items:
              - key: nginx.conf
                path: nginx.conf
        - name: staticfiles
          persistentVolumeClaim:
            claimName: staticfiles
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.application.name }}
  labels:
    app: {{ .Values.application.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.application.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.application.name }}
    spec:
      initContainers:
        - name: check-db
          image: busybox
          command:
            [
              "sh",
              "-c",
              'echo -e "Checking for the availability of Postgres Server deployment"; while ! nc -z {{ .Values.application.dbhost }} 5432; do sleep 1; printf "-"; done; echo -e "  >> Postgres DB Server has started";',
            ]
        - name: init-db
          image: gitlab-registry.otec.de:5050/k8s/tier-2/kanbanapi/kanbanapi:{{ .Values.application.version }}
          imagePullPolicy: Always
          command: ["python"]
          args: ["manage.py", "migrate"]
          env: {{ .Values.application.env | nindent 12 }}
        - name: init-static
          image: gitlab-registry.otec.de:5050/k8s/tier-2/kanbanapi/kanbanapi:{{ .Values.application.version }}
          imagePullPolicy: Always
          command: ["python"]
          args: ["manage.py", "collectstatic", "--noinput"]
          env: {{ .Values.application.env | nindent 12 }}
          volumeMounts:
            - name: staticfiles
              mountPath: /app/static
      containers:
        - name: {{ .Values.application.name }}
          image: gitlab-registry.otec.de:5050/k8s/tier-2/kanbanapi/kanbanapi:{{ .Values.application.version }}
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /health/
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ready/
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 5
            timeoutSeconds: 15
            failureThreshold: 3
          env: {{ .Values.application.env | nindent 12 }}
          volumeMounts:
            - name: staticfiles
              mountPath: /app/static
      imagePullSecrets:
        - name: gitlab-registry
      volumes:
        - name: staticfiles
          persistentVolumeClaim:
            claimName: staticfiles
{{- if eq .Values.application.environment "prod" }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: sync-articles-and-descriptions
  labels:
    app: sync-articles-and-descriptions
spec:
  schedule: "0 20 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: sync-articles-and-descriptions
              image: gitlab-registry.otec.de:5050/k8s/tier-2/kanbanapi/kanbanapi:{{ .Values.application.version }}
              command: ["python"]
              args: ["manage.py", "nav_article_sync"]
              env: {{ .Values.application.env | nindent 16 }}
          restartPolicy: OnFailure
          imagePullSecrets:
            - name: gitlab-registry
{{- end }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  nginx.conf: |
    upstream kanbanapi{
      server django:80;
    }
    server{
      listen 80;

      location / {
          client_max_body_size 500m;
          proxy_pass http://kanbanapi;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header Host $host;
          proxy_redirect off;
      }

      location /static {
          alias /var/www/html;
      }
    }
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 80
  type: NodePort
---
kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.application.name }}
spec:
  type: NodePort
  selector:
    app: {{ .Values.application.name }}
  ports:
    - port: 80
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: staticfiles
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: netapp
  volumeMode: Filesystem
